*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: auto;
    background-image: linear-gradient(180deg,salmon,rgb(120, 224, 224),rgb(236, 192, 110));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 5vw; */
    align-items: center;
}
#maincontainer
{
    width: 80%;
    height:auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    /* border-radius: 20px; */
}
.cartContainer{
    width: 100%;
    height: 30vw;
    /* background-color: rgb(206, 214, 130); */
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    overflow: hidden;
}
.cartImageContainer{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartInfoContainer{
    width: 60%;
    height: 100%;
    /* background-color: red; */
}
.cartImage{
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;   
}
.productName{
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cname{
    color: rgb(228, 0, 38);
}
.pName{
    font-size: 2vw;
    padding: 1vw;
    color: royalblue;
    letter-spacing: 0.3vw;
    font-family: "Vast Shadow", serif;
    font-weight: bold;
    font-style: normal;
}
.pNamesec2{
    width: 60%;
    height: 100%;
   /* background-color: blue;*/
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.incDec{
    width: 40%;
    height: 60%;
    background-color: black;
    border-radius: 0.5vw;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10vw;
}
.inps{
    width: 33%;
    height: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}
.insps::selection{
    display: none;
}
#fa-solid{
    font-size: 3vw;
    text-shadow: 2px 2px 2px black;
    color: rgb(73, 73, 73);
    cursor: pointer;
}
.productDetails{
    width: 70%;
    height: 70%;
    font-size: 1.3vw;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    /* background-color: red; */
}
.pdel{
    padding-left: 3vw;
    letter-spacing: 0.5vw;
    word-spacing: 1vw;
    font-weight: lighter;
}
.couponCode{
    width: 80%;
    height: 10vh;
    /* background-color: rgb(234, 248, 253); */
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    column-gap: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}
#coupancodeinp{
    width: 30%;
    height: 5vh;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 1vw;
    border: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: darkblue 3px solid;
    background-color: transparent;
    transition: all 0.5s;
}
#coupancodeinp::placeholder{
    color: royalblue;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#coupancodeinp:hover{
    transform: scale(1.1);
}
#checkoutContainer{
    width: 80%;
    height: 20vh;
    /* background-color: rbg(0, 0, 72); */
    border-radius: 5px;
    box-shadow:5px 5px 5px black;
    display: flex;
    /* flex-direction: column; */
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    color: white;
}
.impNumber{
    color: orangered;
}
.checkOutText{
    letter-spacing: 0.5vw;
    word-spacing: 1vw;
    text-transform: capitalize;
    font-size: 2vw;
}
.payButton{
    background-color: burlywood;
    width:30%;
    height:30%;
    border:none;
    outline:none;
    box-shadow:2px 2px 2px black;
    border-radius: 10px;
    cursor: pointer;
    font-size:2vw;
    letter-spacing:1vw;
    font-weight:bold;   
}

#checkoutInfo{
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#copy
{
    font-size: 1.5vw;
    color: blueviolet;
    text-shadow: none;
}
#footerdiv
{
    width: 100vw;
    height: auto;
}
#top
{
    width: 3vw;
    height: 3vw;
    background-color: rgb(137, 137, 217);
    color: orange;
    position: fixed;
    bottom: 2.5vw;
    right: 0.5vw;
    font-size: 2vw;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
#top:hover
{
    animation: toppage 0.4s alternate 4 both ease-in-out;
}
@keyframes toppage {
    from
    {
        transform: translate(0vw,0vw);
    }
    to
    {
        transform: translate(0vw,-2vw);
    }
}