@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body
{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#89B9E7,#FCB9DA,#DA98C7);
    background-position: center;
    background-size: 1600vw 1600vw;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.circle
{
    width: 30vw;
    height: 30vw;
    display: flex;
    position: absolute;
    border-radius: 100%;
    display: flex;
}
#one
{
    top: 1vw;
    left: 1vw;
    background-color: skyblue;
    animation: one 10s infinite ease-in-out alternate both;
}
#two
{
    top: 1vw;
    right: 1vw;
    background-color: rgb(82, 202, 249);
    animation: two 10s infinite ease-in alternate-reverse both;
}
#three
{
    bottom: center;
    right: center;
    background-color: turquoise;
    animation: three 10s infinite linear alternate both;
}
#four
{
    left: 1vw;
    bottom: 1vw;
    background-color: rgb(21, 166, 223);
    animation: four 10s infinite ease alternate both;
}
#five
{
    right: 1vw;
    bottom: 1vw;
    background-color: rgb(38, 133, 171);
    animation: five 10s infinite ease-in-out alternate-reverse both;
}
@keyframes one {
    0%
    {
        transform: translate(0vw,0vw);
    }
    25%
    {
        transform: translate(25vw,25vw);
    }
    50%
    {
        transform: translate(10vw,70vw);
    }
    75%
    {
        transform: translate(30vw,180vw);
    }
    100%
    {
        transform: translate(100vw,20vw);
    }
    
}
@keyframes two {
    0%
    {
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(-250px,100px);
    }
    50%
    {
        transform: translate(-70px,500px);
    }
    75%
    {
        transform: translate(-190px,600px);
    }
    100%
    {
        transform: translate(-300px,100px);
    }
    
}
@keyframes three {
    0%
    {
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(50px,250px);
    }
    50%
    {
        transform: translate(100px,-100px);
    }
    75%
    {
        transform: translate(-50px,-200px);
    }
    100%
    {
        transform: translate(70px,-700px);
    }
    
}
@keyframes four {
    0%
    {
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(340px,-250px);
    }
    50%
    {
        transform: translate(-200px,-100px);
    }
    75%
    {
        transform: translate(300px,-400px);
    }
    100%
    {
        transform: translate(100px,-550px);
    }
    
}
@keyframes five {
    0%
    {
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(-210px,-250px);
    }
    50%
    {
        transform: translate(-90px,-600px);
    }
    75%
    {
        transform: translate(-50px,-300px);
    }
    100%
    {
        transform: translate(-550px,-220px);
    }
    
}
#container
{
    width: 70vw;
    height: 80vw;
    /* margin: 5vw; */
    /* background-color: aqua; */
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    justify-self: center;
    box-shadow: 1vw 1vw 2vw black;
    border-radius: 2vw;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
#videocontainer
{
    /* width: 40vw;
    height: 47.5vw;
    background-color: yellowgreen;
    display: flex;
    border-radius: 2vw; */
    display: none;
}
/* #video
{
    width: 100%;
    height: 100%;
    border-radius: 2.2vw 0vw 0vw 2.2vw;
} */
#register
{
    width: 100%;
    height: 100%;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#form
{
    font-family: "Rokkitt", serif;
    font-size: 5vw;
    letter-spacing: 1vw;
    color: brown;
}
#name
{
    width: 80%;
    height: 3vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.common,#first,#last
{
    width: 75%;
    height: 3vw;
    border-radius: 10px;
    border: none;
    outline: none;
    text-indent: 0.2vw;
    background-color: transparent;
    box-shadow: 0px 2px 2px black;
    border-bottom: 0.1vw solid black;
    letter-spacing: 0.3vw;
    font-size: 3vw;
    text-align: center;
    font-weight: bolder;
    font-family: "Rokkitt", serif;
    transition: all 0.5s;
    color: royalblue;
}
#first,#last
{
    width: 45%;
    height: 100%;
    transition: all 0.5s;
}
.common::placeholder,#first::placeholder,#last::placeholder
{
    text-align: center;
    color: royalblue;
    font-weight: bolder;
}
#location
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 75%;
    height: 8vw;
    row-gap: 1vw;
    /* background-color: #89B9E7; */

}
#choice
{
    font-weight: bold;
    font-family: "Rokkitt", serif;
    font-size: 3vw;
    color: royalblue;
    letter-spacing: 0.3vw;
}
#select
{
    border: 1px solid royalblue;
    outline: none;
    width: 100%;
    height: 4vw;
    border-radius: 10px;
    text-align-last: center;
    background-color: rgb(180, 218, 233);
    font-family: "Rokkitt", serif;
    font-size: 3vw;
    color: royalblue;
    letter-spacing: 0.3vw;
    cursor: pointer;
    font-weight: bolder;
}
#signlink
{
    width: 20vw;
    height: 4vw;
    text-decoration: none;
    font-weight: bold;
}
#signupbutton
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(180, 218, 233);
    font-family: "Rokkitt", serif;
    font-size: 3vw;
    color: royalblue;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0vw black;
    transition: all 0.5s;
    cursor: pointer;
}
.common:hover,#signupbutton:hover,#first:hover,#last:hover,#switchpage:hover
{
    transform: scale(1.1);
}
#switchpage
{
    text-decoration: none;
    color: royalblue;
    transition: all 0.5s;
    font-family: "Rokkitt", serif;
    font-size: 2vw;
    color: royalblue;
    letter-spacing: 0.3vw;
    cursor: pointer;
    font-weight: bolder;
}
